/* You can add global styles to this file, and also import other style files */
html {
    height: 100vh;
    width: 100vw;
}

body{
    border: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: rgb(31, 31, 99); */
}